<title>Nihal Shah</title>
<%- include('head'); %>

<body class="fonts container-lg">
     
    <%- include('nav'); %>

    <section class="px-4" style="margin-top: 10vw; margin-bottom: 10vw;">
        <div class="container-fluid" style="margin-bottom: 5vw;">
            <div class="col-md">
                <h1 style="font-weight: 600; " class="row display-1 fadeInLeft">CJ SHAH</h1>
                <h5 style="font-weight: 600; animation-duration: 500ms;" class="row fadeInLeft">Web App Development Site</h5>
                <div id="div_1">
            	    <p id="p_1">Watch the number go up:
            	    <span id="span_1"></span>
            	    </p>
            	</div>
            	<div id="div_1">
            	    <p id="p_1">You are visitor number: <%= visitor %> </p>
            	</div>
                <!-- <span class="row fadeInLeft" style="animation-duration: 300ms;">Scroll to read more</span> -->
            </div>
        </div>
        <!-- <div class="row d-flex justify-content-center">
            <div class="col-1">
                <a href="#Labs" style="text-decoration: none;color: #F2F7F2;"><span class="material-symbols-outlined fs-2">expand_more</span></a>
            </div>
        </div> -->
    </section>
    
    <!-- <section class="container-fluid" style="margin-bottom: 0; bottom:0; left: -5%;">
        <h1 id="Labs">Labs</h1>
        <div class="row justify-content-center gx-5">
            <div class="col">
                <div class="p-4 border border-3 border-light rounded-3 experience-link">
                    <a class="row" data-bs-toggle="collapse" href="./page2.html">
                        <div class="col-md align-self-center">
                            <p class="row h3">Assignment 2</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="p-4 border border-3 border-light rounded-3 experience-link">
                    <a class="row" data-bs-toggle="collapse" href="/flip">
                        <div class="col-md align-self-center">
                            <p class="row h3">Coin Flipper</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="p-4 border border-3 border-light rounded-3 experience-link">
                    <a class="row" data-bs-toggle="collapse" href="/schedule">
                        <div class="col-md align-self-center">
                            <p class="row h3">Schedule</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
        
    </section> -->
    <script type="text/javascript" src="./js/basic.js"></script>
</body>
