<title>You Lose.</title>
<%- include('head'); %>

<body class="fonts container-lg">

    <%- include('nav'); %>

    <section class="px-4" style="margin-top: 10vw; margin-bottom: 10vw;">
        <h1>You Lose.</h1>
    </section>
    <script type="text/javascript" src="./js/basic.js"></script>
</body>
