<title>MadLibs</title>
<%- include('nav'); %>
<body class="fonts container-lg">
    <section class="px-4" style="margin-top: 10vw; margin-bottom: 10vw;">
        <h1>MadLibs Results</h1>
        <img class="img-fluid" src="<%= imgpath %>" alt="">
        <div class="container-sm">
            <p>
                <%= madlib %>
            </p>
        </div>
    </section>
    <script type="text/javascript" src="./js/basic.js"></script>
</body>
