<meta name="viewport" content="width=device-width, initial-scale=1">
<title>You Win!</title>
<%- include('head'); %>
<body class="fonts container-lg">
     
    <!-- <section class="" style="" > -->
    
    <%- include('nav'); %>

    <section class="px-4" style="margin-top: 10vw; margin-bottom: 10vw;">
        <h1>You Win!!!</h1>
    </section>
    <script type="text/javascript" src="./js/basic.js"></script>
</body>
